.container{
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}
.banner{
  width: 100%;
  max-width: 2250px;
  height: 150px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  background-color: aliceblue;
}

.slogan{
  font-size: 28px;
}