.banner{
  width: 100%;
  max-width: 2550px;
  height: 450px;
  position: relative;
  background-image: url('/images/bg-banner.jpg');
  background-repeat: no-repeat;
  background-position-y: center;
  /* background-position-y:bottom ;
  background-position-x: center; */
  /* background-color: #F2FFF9; */
}

.slogan{
  color: white;
  font-size: 48px;
}

.render{
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 50px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 57, 70, 0.3);
}

@media (max-width: 1150px) {
  .banner{
      background-position-x:center;
  }
}