.footer{
  width: 100%;
  height: 50px;
  max-width: 2250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #263946;
}

.footerMade, .footerEmail, .separator{
  font-size: 14px;
  font-weight: bold;
  color: #ffff;
}

.footerMade a{
  color: #40AFFF;
  text-decoration: underline;
}


.separator{
  padding: 0 5px;
}