.footer{
  width: 100%;
  height: 30px;
  max-width: 2550px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #263946;
  font-size: 14px;
}

.footerMade, .footerEmail, .separator{
  font-weight: bold;
  color: #ffff;
}

.footerMade a{
  color: #40AFFF;
  text-decoration: underline;
}

.separator{
  padding: 0 5px;
}

@media (max-width: 850px) {
  .footer{
    margin-top: 60px;
  }
}

@media (max-width: 650px) {
  .footer{
    font-size: 10px;
  }
}